{% extends 'bbs/base.html' %}
{% load bbs %}

{% block content %}

<section class="mt-5">
  {% for post in post_list %}
    <article class="article mb-5">
      <h2 class="mt-2">
        <a class="text-dark" href="{% url 'bbs:post_detail' post.pk %}"> #{{ post.pk }} {{ post.title }}</a>
      </h2>
      <i class="far fa-calendar-alt"></i>
      <span class="ms-1">{{ post.created_at | date:'Y-m-d' }}</span>
      {% with post_like_data|get_item:post.pk as dic %}
            {% if dic.is_user_liked_for_post %}
              <button type="button" class="ajax-like-for-post" data-pk="{{ post.pk }}" style="border:none;background:none">
                <i class="fas fa-heart text-danger" id="like-for-post-icon-{{post.pk}}"></i>
              </button>
            {% else %}
              <button type="button" class="ajax-like-for-post" data-pk="{{ post.pk }}" style="border:none;background:none">
                <i class="far fa-heart text-danger" id="like-for-post-icon-{{post.pk}}"></i>
              </button>
            {% endif %}
            <span id="like-for-post-count-{{post.pk}}">{{ dic.count }}</span>
            <span>件のイイね</span>
      {% endwith %}
    </article>
  {% endfor %}
</section>

{% endblock content %}
{% block extrajs %}
<script type="text/javascript">
  
  /* ポストに対するイイね */
  const likePostButtons = document.getElementsByClassName('ajax-like-for-post');
  for (const button of likePostButtons) {
    button.addEventListener('click', e => {
      /* ログインしていない場合はログインページへ */
      if ("{{ user.is_authenticated }}"=="False"){
        window.location.href='{% url "register:login" %}'
      }
      const pk = button.dataset.pk
      e.preventDefault();
      const url = '{% url "bbs:like_for_post" %}';
      fetch(url, {
        method: 'POST',
        body: `post_pk=${pk}`,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
          'X-CSRFToken': '{{ csrf_token }}',
        },
      }).then(response => {
        return response.json();
      }).then(response => {
        const counter = document.getElementById(`like-for-post-count-${pk}`)
        const icon = document.getElementById(`like-for-post-icon-${pk}`)
        counter.textContent = response.like_for_post_count
        if (response.method == 'create') {
          icon.classList.remove('far')
          icon.classList.add('fas')
          icon.id = `like-for-post-icon-${pk}`
        } else {
          icon.classList.remove('fas')
          icon.classList.add('far')
          icon.id = `like-for-post-icon-${pk}`
        }
      }).catch(error => {
        console.log(error);
      });
    });
  }
</script>
{% endblock extrajs %}
